In [4]:
import pandas as pd
import os
import requests
import re
from collections import Counter

import nltk
from nltk.stem import *
nltk.download('punkt')
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('wordnet') 
nltk.download('stopwords')

os.chdir('D:\\')
df = pd.read_csv('Up_20210120_with keywords.csv', encoding='latin1')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Steve\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Steve\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Steve\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
wordnet_lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

def process(line):
    return([wordnet_lemmatizer.lemmatize(t) for t in tokenizer.tokenize(line) if t not in stop_words])
    
tokenizer = RegexpTokenizer(r'\w+')
df['tokens']=df['Description'].str.lower().apply(process)

combined_list = []
for i in range(len(df['tokens'])):
    combined_list += df['tokens'][i]

rslt = pd.DataFrame(Counter(combined_list).most_common(50),
                    columns=['Word', 'Frequency']).set_index('Word')

rslt

               Frequency
Word
collection           115
china                 96
chinese               95
photograph            50
history               41
document              34
library               33
image                 29
university            26
material              26
life                  25
project               25
asian                 25
work                  24
includes              22
digital               21
east                  21
century               21
book                  21
include               20
â                     20
asia                  19
archive               19
title                 18
including             17
rare                  17
cultural              17
many                  16
japanese              16
people                15
published             15
shanghai              15
manuscript            15
research              14
american              14
well                  14
contains              14
early                 14
record                14
study                 14
print                 13
united                13
also                  13
year                  13
map                   12
20th                  12
international         12
one                   12
public                12
family                12